* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgba(137, 227, 255, 0.27);
}

li {
    list-style-type: none;
}

strong,
h3 {
    font-weight: 800;
}

header {
    background-color: #0c3662;
    color: white;
    width: 87%;
    border-radius: 18px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);

    padding: 17px 40px 17px 60px;

    display: flex;
    justify-content: space-between;


    position: fixed;
    top: 10px;
    z-index: 100;
}

header h1 {
    font-size: 24px;
    color: #b1d4f8;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav li {
    display: flex;
    align-items: center;
    font-size: 16px;
}

nav a:hover {
    color: #1dbbff;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


main {
    width: 80%;
}

#banner {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../img/icpc2.jpg") center/cover;
    height: 100vh;
    width: 100%;
    margin-top: 0px;

    color: white;
    font-size: 30px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bannerTitle {
    font-size: 60px;
}

section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 90px;
}

.boxSection {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.099);
    padding: 20px;
    padding-left: 40px;
}

h2 {
    color: #001c3a;
    font-weight: 800;
    font-size: 40px;

    align-self: flex-start;
    margin-bottom: 20px;
    margin-left: 30px;
}

#vencedores h2 {
    align-self: center;
}

#conteiner-textoSobre {
    width: 72%;
    align-self: flex-start;
    padding: 0 20px 0 0px;
}

#sobre ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
}

#ulHead {
    margin: 10px 0;
}

#listaSobre {
    margin-bottom: 5px;
}

#listaSobre li {
    border-left: 4px solid #001c3a;
    padding-left: 8px;
    margin-bottom: 5px;
}

#sobre {
    position: relative;
}

aside {
    width: 270px;
    padding: 20px;
    font-size: 80%;
    border-radius: 12px;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.099);


    position: absolute;
    right: 1%;
    top: 7%;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

section h3 {
    color: #001c3a;
}

#conteiner {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.099);
    flex: 1 1 300px;
    max-width: 400px;
    height: auto;
    background-color: white;
    border-radius: 12px;
    transition: transform 0.2s;

    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);
}

.imgCard {
    width: 100%;
    height: 220px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    object-position: top;
}

.cardInfo {
    font-size: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#championsCard {
    flex: 1 1 100%;
    max-width: 800px;
    height: auto;

}

#championsImg {
    height: 520px;
    width: 100%;
    height: auto;
    max-height: 500px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.tableContainer {
    margin: 15px 0;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.099);

}

table {
    border-collapse: collapse;
}

thead {
    background-color: #001c3a;
    background-color: #0c3662;
    color: white;
}

th,
td {
    padding: 15px;
    text-align: left;
}

td {
    border-bottom: 1px solid #00306421;
}


#preparacao {
    margin-bottom: 25px;
}

#preparacao h3 {
    align-self: flex-start;
}

#preparacao ul {
    margin-top: 5px;
    padding-left: 25px;
}

#preparacao li {
    display: list-item;
    list-style-type: disc;
}

#preparacao a {
    text-decoration: none;
    color: #00529f
}

footer {
    width: 100%;
    font-size: 78%;
    padding: 20px;
    background-color: #013a77;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer h3 {
    text-align: center;
    color: #bbdcff;
}

footer ul {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
}

footer li {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

footer a {
    color: #abd1fa;
    text-decoration: none;
}

footer #marcaDAgua {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#direitos {
    font-size: 0.8em;
    opacity: 0.7;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        width: 95%;
        flex-direction: column;
        padding: 15px;
        text-align: center;
        gap: 10px;
    }

    header h1 {
        font-size: 0.8em;
    }

    nav ul {
        gap: 8px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav li {
        font-size: 14px;
    }

    #bannerTitle {
        font-size: 35px;
        text-align: center;
    }

    main {
        width: 92%;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 17px;
    }

    strong {
        font-size: 15px;
    }

    #conteiner-textoSobre {
        width: 100%;
        padding: 0;
    }

    aside {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .tableContainer {
        margin: 25px auto;
        max-width: 600px;
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px 15px;
        font-size: 0.9em;
    }

    #mobileResponsivity {
        margin-top: 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

    }

    #mobileResponsivity p {
        margin-bottom: 10px;
        ;
    }

    #mobileResponsivity li {
        flex: 1;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    footer li {
        width: 100%;
    }
}